mat-card {
  width: 100%;
}

button {
  margin: 4px;
}

.player {
  border: 1px solid #000;
  border-radius: 5px;
  margin-left: 5px;
  padding: 0 2px;
}

.score {
  border: 1px solid #000;
  border-radius: 5px;
  margin-left: 5px;
  padding: 0 2px;
}
