<mat-card>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="2:1" *ngIf="players.length > 0; else noPlayers">
      <ng-container *ngFor="let player of players">
        <mat-grid-tile >{{ player.name }}</mat-grid-tile>
      </ng-container>
    </mat-grid-list>
    <ng-template #noPlayers>
      <h1 class="text-center">No players yet in your match</h1>
    </ng-template>
    <div *ngIf="players.length >= 2">
      <button mat-flat-button (click)="startMatch()" class="rounded w-100" color="primary">START MATCH</button>
    </div>
  </mat-card-content>
</mat-card>
