<mat-card>
  <mat-card-header>
    <mat-card-title>Game: {{ game.id.value }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="game.players[0]" class="black">
      {{ game.players[0].name.value }}
    </div>
    <div *ngIf="game.players[1]" class="white">
      {{ game.players[1].name.value }}
    </div>
    <p *ngIf="game.players.length === 0">Waiting for players...</p>
    <div class="board">
      <app-board [board]="game.state.board"></app-board>
      <div #moves [scrollTop]="moves.scrollHeight">
        <ng-container *ngFor="let move of game.state.moves; let i = index">
          <p *ngIf="i % 2 == 0" class="moveCount">{{ i / 2 + 1 }}.</p>
          <p class="move" [ngClass]="i % 2 == 0 ? 'black' : 'white'">
            {{ getMoveNotation(move.action) }}
          </p>
        </ng-container>
      </div>
    </div>

    <p *ngIf="game.status === GameStatus.IN_PROGRESS">Game is in progress</p>
    <div *ngIf="game.status === GameStatus.FINISHED">
      <p *ngIf="!game.winner">Game is a draw</p>
      <p *ngIf="game.winner">{{ getPlayerName(game.winner) }} has won</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      (click)="startGame()"
      [disabled]="
        game.players.length < MIN_PLAYERS ||
        game.status !== GameStatus.NOT_STARTED
      "
    >
      <mat-icon>play_circle_outline</mat-icon>
      Start
    </button>
    <button
      mat-raised-button
      (click)="deleteGame()"
      [disabled]="
        game.players.length > 0 && game.status !== GameStatus.FINISHED
      "
    >
      <mat-icon>delete_outline</mat-icon>
      Delete
    </button>
  </mat-card-actions>
</mat-card>
