<mat-card>
  <mat-card-header>
    <mat-card-title>Game: {{game.id}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h3>
      Players: {{game.players.length}}/{{MAX_PLAYERS}}</h3>
    <mat-chip-set>
      <mat-chip *ngFor="let player of game.players">{{ player.playerName }}</mat-chip>
    </mat-chip-set>
    <p *ngIf="game.status === GameStatus.CREATED">Game created! 💪</p>
    <p *ngIf="game.status === GameStatus.PLACE_SHIPS">Turn: Place Ships! 🚢</p>
    <p *ngIf="game.status === GameStatus.SHOOT">Turn: Shoot! 🚀</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
            (click)="deleteGame()"
            [disabled]="game.players.length > 0 && game.status !== GameStatus.FINISHED">
      <mat-icon>delete_outline</mat-icon>
      Delete
    </button>
  </mat-card-actions>
</mat-card>
