.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
//  align-items: start;
  height: calc(100vh - 60px);
}

.upper-sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    height: 125px;

    mat-card {
      margin-left: 10px;
    }
}

.middle-sections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;

  mat-card {
    margin-left: 10px;
  }
}

.left-section {
  //width: 50%;
  height: 200px;
  background-color: lightblue;
}

.right-section {
  //width: 50%;
  height: 200px;
  background-color: lightgreen;
  margin-right: 40px;
}

.bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  height: 125px;

  mat-card {
    margin-left: 10px;
  }
}


