mat-grid-list {
  padding: 16px 16px 16px 16px;
  height: 100%;
}

mat-grid-tile-header {
  margin-bottom: 16px !important;
}

mat-grid-tile {
  margin: 16px 16px 16px 16px;
}

button {
  margin: 16px 16px 16px 16px;
}

app-game-card {
  width: 100%;
  height: 100%;
  padding-right: 16px;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.grid-list {
  flex: 4;
  margin-right: 10px;
}

.player-list {
  flex: 1;
  max-width: 20%;
}
