<div class="main-container">
  <ng-container *ngIf="playerNames$ | async as playerNames">
    <button mat-raised-button (click)="openCreateGameDialog(playerNames)">Create new game</button>
    <div class="top10-player-column">
      <h2>Top 10</h2>
      <ol class="player-list">
        <li *ngFor="let playerName of topPlayers$ | async">{{ playerName.playerName }}</li>
      </ol>
    </div>
    <div class="active-player-column">
      <h2>Active Players</h2>
      <ul class="player-list">
        <li *ngFor="let playerName of playerNames">{{ playerName.playerName }}</li>
      </ul>
    </div>
  </ng-container>
</div>

<mat-grid-list cols="4" rowHeight="350">
  <mat-grid-tile *ngFor="let game of games$ | async">
    <app-game-card [game]="game"></app-game-card>
  </mat-grid-tile>
</mat-grid-list>


<h2>Debug game variable:</h2>
<p>{{games$ | async | json }}</p>
