<div class="flex flex-row justify-between">
  <ng-container *ngIf="playerNames$ | async as playerNames">
    <div class="flex flex-col">
      <span *ngIf="playerNames.length < 2">Not enough Players online! 🙄 Currently {{ playerNames.length }} Players online of min. 2!</span>
      <button class="w-1/2" mat-raised-button (click)="openCreateGameDialog(playerNames)" [disabled]="playerNames.length < 2">
        <span> Create Game</span>
      </button>
    </div>
    <div class="text-center" *ngIf="topPlayers$ | async as topPlayers">
      <h2>Top 10</h2>
      <mat-list>
      <mat-list-item>🥇 {{ topPlayers[0].playerName }} W/L: {{ topPlayers[0].score }}%</mat-list-item>
        <mat-list-item>🥈 {{ topPlayers[1].playerName }} W/L: {{ topPlayers[1].score }}%</mat-list-item>
        <mat-list-item>🥉 {{ topPlayers[2].playerName }} W/L: {{ topPlayers[2].score }}%</mat-list-item>
        <mat-list-item *ngFor="let topPlayer of topPlayers | slice:3">{{ topPlayer.playerName }} W/L: {{ topPlayer.score }}%</mat-list-item>
        <mat-list-item>...</mat-list-item>
      </mat-list>
    </div>
    <div class="active-player-column">
      <h2>Active Players</h2>
      <ul class="player-list">
        <li class="w-max p-1" *ngFor="let playerName of playerNames">🟢 {{ playerName.name }}</li>
      </ul>
    </div>
  </ng-container>
</div>

<mat-grid-list cols="4" rowHeight="350">
  <mat-grid-tile *ngFor="let game of games$ | async">
    <app-game-card [game]="game"></app-game-card>
  </mat-grid-tile>
</mat-grid-list>


<h2>Debug game variable:</h2>
<p>{{games$ | async | json }}</p>
