header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  background-color: white;

  img {
    height: 4rem;
    float: left;
  }
  
  span {
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 1rem;
    margin: 0 0 0 0;
    color: var(--secondary);
  
    @media (max-width: 500px) {
      font-size: 1rem;
    }
  }

  i.material-icons {
    font-size: 3em;
    cursor: pointer;
    user-select: none;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: calc(100vh - 80px);
  background: rgba(0, 0, 0, 0.3);
  
  .side-menu {
    position: fixed;
    right: 0px;
    height: calc(100% - 2.5em);
    box-sizing: border-box;
    overflow: auto;
    background: rgb(240, 240, 240);
    padding: 2.5em 1.5em 0px;
    font-size: 1.15em;
    width: 300px;

    nav {
      height: calc(100% - 1.6em);
      display: flex;
      flex-direction: column;
      align-items: center;
      color: rgb(184, 183, 173);
      padding: 0.8em;

      a {
        text-decoration: none;
        font-weight: bold;
        margin: 0.8em;
      }
    }
  }
}
