<header>
  <img src="assets/zuhlke-logo-rgb.png" alt="Zühlke logo">
  <span>Zühlke Hackathon 2024</span>
  <div>
    @if (!isOpen()) {
        <i class="material-icons" (click)="isOpen.set(true)">menu</i>
    }
    @else {
        <i class="material-icons" (click)="isOpen.set(false)">close</i>
    }
  </div>
</header>

@if (isOpen()) {
  <div class="overlay">
    <section class="side-menu">
      <nav>
        <a routerLink="/" (click)="isOpen.set(false)">
          Home
        </a>
        <a routerLink="/other" (click)="isOpen.set(false)">
          Other Page
        </a>
        <a href="https://github.com/Cyberdog52/hackathon" target="_blank">
          GitHub
        </a>
      </nav>
    </section>
  </div>
}
