
<div style="margin-top: 80px">
  <h1>Rules</h1>

  <h2>Setup</h2>

  <p>
  There is a set of 52 Cards. Every player gets 7 cards on their hand which only they can see. In the middle of the table
  are two stacks, a discard stack and a drawing stack. The discard stack has its card facing upwards, the drawing stack
  downwards. At the beginning of the game the cards that haven't been dealt form the drawing stack and the topmost drawing
  stack card gets revealed and forms the discard stack.
  </p>

  <h2>Gameplay</h2>

  <p>
    The first player starts by picking up a card from either the drawing stack or the discard stack. After the player has to
    discard one of their cards on the discard stack. After that the players turn is complete and the next player can start.
    This repeats until one player has a winning hand and decides to put it down. Before they put down the hand, they have to
    discard a card. After a player has put down a hand, all players get points depending on their hands. First player to
    reach 100 points loses, by that time, the player with the lowest score wins.
  </p>
  <h2>Scoring</h2>

  <p>
    - A Card in a Set (3 or more cards of the same value) or a Run (3 or more cards of the same suit in a row) is worth 0
    points.
  </p>
  <p>
    - A card that's not in a set or a run is worth the value of the card, picture cards are worth 10 points. Aces are worth
    1 point.
  </p>
  <p>
    - A Chinchón (a set of 7 cards of the same value) is worth -10 points.
  </p>

  <h2>Winning Hands</h2>

  <p>
    - If every card is in a set or a run.
  </p>
  <p>
    - If every card except one is in a set or a run. The remaining card has to have a value below 6 (5 or less).
  </p>
  <p>
    - If the player has a Chinchón.
  </p>
</div>
