:root {
    font-family: 'ZuehlkeFont', sans-serif !important;
    color: var(--primary);
    --secondary: rgb(131, 79, 135);
    --primary: rgb(38, 38, 38);
    --tertiary: rgb(255, 130, 10);
    --quaternary: rgb(88, 160, 190);
    --quinary: rgb(165, 165, 165);
}

a, h2, h3, h4, h5 {
    color: var(--primary);
}

h1 {
    color: var(--secondary);
}

a:hover {
    color: var(--secondary);;
}

@font-face {
    font-family: "ZuehlkeFont";
    src: local("ZuehlkeFont"),
    url("./assets/AAZuehlke.ttf") format("truetype");
}
