<table [class.disabled]="this.disabled">
  <thead>
  <tr>
    <th></th>
    <th *ngFor="let r of this.map[0] ?? []; let i = index">{{i + 1}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of this.map; let iy = index">
    <th>{{getRowName(iy)}}</th>
    <td *ngFor="let cell of this.map[0]; let ix = index"
        [class.empty]="this.map[ix][iy] === mapValuesEnum.EMPTY"
        [class.boat]="this.map[ix][iy] === mapValuesEnum.BOAT"
        [class.hit]="this.map[ix][iy] === mapValuesEnum.HIT"
        [class.miss]="this.map[ix][iy] === mapValuesEnum.MISS"
        (click)="this.onCellClick(ix, iy)"
    >
      <span>{{getRowName(iy)}}{{ix + 1}}</span>
    </td>
  </tr>
  </tbody>
</table>
