table {
  table-layout: fixed;
  overflow: hidden;
  border-collapse: collapse;
}

tr, td {
  margin: 0;
  padding: 0;
}

$cellSize: 22px;
td {
  width: $cellSize;
  height: $cellSize;
  overflow: hidden;

  font-size: 0.5rem;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;

  background-color: #fafafa;
  color: #0e0e0e;

  &.boat {
    background-color: saddlebrown;
    color: #fafafa;
  }

  &.hit {
    background-color: indianred;
    color: #fafafa;
  }

  &.miss {
    background-color: lightgray;
  }

  &.empty {
    background-color: #fafafa;
  }

  & > span {
    visibility: hidden;
  }

  &:not(.empty),
  &:hover {
    & > span {
      visibility: visible;
    }
  }
}

table:not(.disabled) td:hover {
  background-color: lightblue;
}
