<div class="flex flex-col" *ngIf="game; else noGame">
  <div class="text-center py-6">
    <h1>Current Phase:
      <span *ngIf="game.gameDto.status === placeShips">Place Ships 🚢</span>
      <span *ngIf="game.gameDto.status === shoot">Shoot! 💥</span>
      <span *ngIf="game.gameDto.status === finished">Finished ✅</span>
    </h1>
  </div>
  <div class="m-24 flex flex-row justify-around">
    <div *ngFor="let board of game.gameDto.boards">
      <h1 class="text-4xl">Board of {{ board.playerId }}</h1>
      <table class="border-black border-2">
        <tr>
          <th></th>
          <th class="w-8 h-8" *ngFor="let shotRow of board.shots; let i = index">{{ i }}</th>
        </tr>
        <tr *ngFor="let shotRow of board.shots; let i = index">
          <th class="w-8 h-8">
            {{ i }}
          </th>
          <td class="w-8 h-8 border-black border-2" *ngFor="let shot of shotRow; let j = index"
              [ngClass]="{'bg-gray-300': shipIsOnField(i, j, board.ships) }">
            <div class="flex justify-center text-center">
              <span class="text-2xl" *ngIf="shot === hit">💥</span>
              <span class="text-2xl" *ngIf="shot === miss">💨</span>
              <span class="text-2xl" *ngIf="shot === sunk">💀</span>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <h1>History:</h1>

    </div>
  </div>
</div>

<ng-template #noGame>
  <div class="text-center py-6">
    <h1>Current Phase:
      <span>Game Not Started yet 🚥</span>
    </h1>
  </div>
</ng-template>

