<div>
  <a href="/">Back to home</a>
  <div class="map-container">
    <div class="map-wrapper">
      <div *ngIf="player1Turn">
        It is your turn
        <span *ngIf="gamePhase === gamePhaseEnum.SETUP">, click to place your boats</span>
        <span *ngIf="gamePhase === gamePhaseEnum.PLAYING">, click to shoot a square!</span>
      </div>
      <div *ngIf="gamePhase === gamePhaseEnum.END">
        <span *ngIf="winnerId === player1Id">You defeated you opponent!</span>
        <span *ngIf="winnerId === player2Id">Your opponent won!</span>
      </div>
      <div *ngIf="player2Turn">Waiting for opponent</div>
      <h2>You: {{this.player1Id}}</h2>
      <app-map gameId="{{this.gameId}}"
               playerId="{{this.player1Id}}"
               [disabled]="gamePhase !== gamePhaseEnum.SETUP"
               [sizeX]=this.sizeX
               [sizeY]=this.sizeY
               #mapPlayer1
               (cellClick)="this.onCellClickPlayer1Map($event)"
      />
    </div>
    <div class="map-wrapper">
      <h2>Opponent: {{this.player2Id}}</h2>
      <app-map gameId="{{this.gameId}}"
               playerId="{{this.player2Id}}"
               [disabled]="gamePhase !== gamePhaseEnum.PLAYING && !this.player1Turn"
               [sizeX]=this.sizeX
               [sizeY]=this.sizeY
               #mapPlayer2
               (cellClick)="this.onCellClickPlayer2Map($event)"
      />
    </div>
  </div>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Show Log output
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li *ngFor="let evt of events$ | async;">
        {{evt}}
      </li>
    </ul>
  </mat-expansion-panel>
</div>
