<div class="centered-box">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-12">
              <app-create-match></app-create-match>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                OR
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="row">
            <div class="col-12">
              <button mat-flat-button (click)="showMatches()" class="rounded w-100 mt-1" color="primary">SHOW MATCHES</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
